* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

button {
  display: block;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  font-size: 13px;
  height: 30px;
  background-color: #0000000d;
  color: #0e0e10;
  padding: 0 20px;
  margin: 10px 0;
}

button:hover {
  background-color: #0000001a;
}

a,
a:hover,
a:target,
a:focus,
a:active {
  color: #000000;
}

input,
textarea,
select {
  display: block;
  padding: 10px 16px;
  margin: 10px 0;
  width: 100%;
  max-width: 400px;
  height: 32px;
  border: 1px solid #dddbda;
  border-radius: 4px;
  background-color: #fff;
  color: #080707;
  transition: border .1s, background-color .1s;
}

textarea {
  height: auto;
  line-height: 1.5;
}

select {
  height: auto;
}

textarea:focus,
input:focus {
  border-color: #1b96ff;
  box-shadow: 0 0 3px 0 rgb(1, 118, 211);
}

table {
  border-collapse: collapse;
}